@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    margin: 0;
    
}

.hero {
    background-color: rgb(53, 152, 218);
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    gap: 25px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 20px;
}

.mainlogo {
    
    height: 110px;
    width: auto;
    margin-top: 10px;
    padding: 0;
    
}

.header {
display: flex;
justify-content: space-evenly;
align-items: flex-start;

}

.hero-section {
    display: flex;
    justify-content: space-evenly;
   align-items: center;
    
}

.h-title {
    font-size: 48px;
    color: #E5E7EB;
    font-weight: 900    ;
}

.block1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 15px;
    flex-direction: column;
    flex-grow: 0;
    align-self: flex-start;
}

button {
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 10px;
    background: #3882f6;
    color: white;
    font-size: 18px;
    
    }
  
.signup {
    background: royalblue;
    border: 1px solid royalblue;    
    color: white;
    align-self: flex-start;
    
  }

  .placeholder {
    width: 540px;
    height: auto;
    margin-left: -40px;
    margin-top: -35px;
    border-radius: 10px;
    border: 1px rgb(145, 217, 250) solid;
  }

li {
    list-style-type: none;

}

ul {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
}

a, .text, .header {
    font-size: 18px;
    color: #E5E7EB;
}


.info {
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}


.infotitle {
    font-size: 36px;
    color: #05417d ;
    font-weight: 900;
}

.infocontainer {
    display: flex;
    align-items: center;

  }



.infobox {
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.infoimage {
    width: 100px;
    height: 100px;
    margin: auto;
}



.testimonials {
    height: 410px;
    background-color: #E5E7EB;
}

.CTA {
    height: 450px;
}

.footer {
    background-color: rgb(53, 152, 218);  ;
    color: #E5E7EB;
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
}

  