@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    margin: 0;
    
}

.hero  {
    background-color: rgb(53, 152, 218);
    padding-bottom: 35px;
    
}

.hero .container {
    display: flex;
    flex-direction: column;
   padding: 20px 10px;
   gap: 10px;

}

.hero a:hover {
    color: lightblue;
}

.header {
    display: flex;
    justify-content: space-between;

    }

.mainlogo {
    
    height: 130px;
    width: auto;
    }

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
   
}

ul {
    display: flex;
    gap: 25px;
    
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
flex-wrap: wrap;
    
}


.block1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 15px;
    flex-direction: column;

}

.h-title {
    font-size: 48px;
    color: #E5E7EB;
    font-weight: 900    ;
}

button {
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 10px;
    background: #3882f6;
    color: white;
    font-size: 18px;
    
    }
  
.signup {
    background: royalblue;
    border: 1px solid royalblue;    
    color: white;
    align-self: flex-start;
    
  }

  .placeholder {
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: 1px rgb(145, 217, 250) solid;
  }


a, .text, .header {
    font-size: 18px;
    color: #E5E7EB;
}


.info {
    height: 490px;
   text-align: center;
}

.info .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
    gap: 60px;

  }


  .infoimg {
    width: auto;
    height: 110px;
    align-self: center;
  }
  .boxinfo {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

.infotitle {
    font-size: 36px;
    color: #05417d ;
    font-weight: 900;
    align-self: center;
}




.infobox {
   
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.infobox .infoh2 {
    color: #05417d ;
    font-weight: 900;
    font-size: 22px;
}

.infobox .text {
    color: rgb(83, 83, 83);
 
}




.testimonials {
    height: 410px;
    background-color: #E5E7EB;
}

.CTA {
    height: 450px;
}

.footer {
    background-color: rgb(53, 152, 218);  ;
    color: #E5E7EB;
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
}

  